<h1>Listado Productos</h1>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Url</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><a href="#"><%= product.url %></a></td>
        <td><%= product.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
